dj-database-url==0.4.2
Django==1.11.15
django-flat-responsive==1.4.1
djangorestframework==3.6.3
gunicorn==19.7.1
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.1
pytz==2017.2
qrcode==5.3
requests==2.9.1
six==1.10.0
whitenoise==3.3.0
XlsxWriter==0.9.8
